---
layout: default
---

<div class="row">
    <div class="col s12 m6 l8">
        <div class="card-panel markdown-body">
            {{ content }}
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="pinned">
            {% include toc.html html=content class="section.table-of-contents.card-panel" %}
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="pinned">
            <div>
                <h6>分类</h6>
                <ul class="collapsible">
                    {% for category in page.categories %}
                    <li>
                        <div class="collapsible-header waves-effect waves-teal">
                            {{ category }}
                            <span class="badge new" data-badge-caption="">
                                {{ site.categories[category] | size }}
                            </span>
                        </div>
                        <div class="collapsible-body no-padding">
                            <ul class="table-of-contents">
                                {% for cp in site.categories[category] %}
                                <li>
                                    <a {% if cp.url == page.url %} class="active" {% endif %}
                                        href="{{ cp.url }}">{{ cp.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h6>标签</h6>
                <ul class="collapsible">
                    {% for tag in page.tags %}
                    <li>
                        <div class="collapsible-header waves-effect waves-teal" tabindex="0">
                            {{ tag }}
                            <span class="badge new" data-badge-caption="">
                                {{ site.tags[tag] | size }}
                            </span>
                        </div>
                        <div class="collapsible-body no-padding">
                            <ul class="table-of-contents">
                                {% for tp in site.tags[tag] %}
                                <li>
                                    <a {% if tp.url == page.url %} class="active" {% endif %} href="{{ tp.url }}">{{ tp.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>